{{#each data}}
<a href="#vision/{{id}}" class="text-decoration-none"
    onclick="loadDetail('visions/{{id}}','about-detail-template','content')">
    <div class="clearfix mb-3 item-our-vision">
        <img src="{{thumbpath}}" alt="{{name}}" class="rounded-4 me-3 float-start" />
        <h3 class="text-black">{{name}}</h3>
        <p class="text-black-50">{{summary}}</p>
    </div>
</a>
{{/each}}